# Windows
Debug/
Debug_static/
Release/
Release_static/
*.vcxproj.user
*.ncb
*.suo
*.pdb
*.ilk
*.aps

# OS X
build/
DerivedData/
xcuserdata/
*.mode1v3
*.pbxuser
*.xccheckout

# IDA Pro
*.idb
*.id0
*.id1
*.nam
*.til

# Misc
/tmp/
